@font-face {
    font-family: Orbitron;
    src: url(../assets/fonts/Orbitron/Orbitron-VariableFont_wght.ttf);
}

main{
    width: 100%;
    height: 100vh;
    background-image: url(../assets/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center-bottom;
    font-family: Orbitron;
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.stopwatch{
    width: 80%;
    height: 40%;
    backdrop-filter: blur(8px); /*Filter på container som gir blurry effekt*/
    border: 4px solid var(--primary-color);
    display: flex;
    flex-direction: column;
}

.timer{
    flex-basis: 50%; /*Setter avstand mellom elementene i container*/
    font-size: var(--font-size-2xlarge);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: var(--spacing-medium);
}

.timer span{
    width: 3ch; /*CH er relativt til tallet 0 i den spesifikke fonten. 3ch er nok plass til å romme 3*0-tall i Orbitron-fonten*/
    text-align: center;
    /* border: 2px solid white; */
}

.controls{
    /* flex-grow: 1; Tar så mye plass som er tilgjengelig */
    flex-basis: 50%; /*Tar så mye plass som er tilgjengelig*/
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-large);
}

.controls__button{
    width: 16rem;
    padding: var(--spacing-medium);
    background-color: transparent; /*Gjennomsiktig bakgrunn på knappene*/
    font-family: inherit; /*Betyr at den bruker samme font som ellers i dokumentet*/
    font-size: var(--spacing-medium);
    color: var(--primary-color);
    border: 4px solid var(--primary-color);
    transition: box-shadow 0.5s;
    cursor: pointer;
}

.controls__button:hover{ /*Hover on buttons*/
    box-shadow: 0 0 16px var(--primary-color);
}