:root {
    /*Colors*/
    --primary-color: #d8bfd8;
    --secondary-color: #483248;

    /*Spacing*/
    --spacing-small: 0.5rem;
    --spacing-medium: 1rem;
    --spacing-large: 2rem;
    --spacing-xlarge: 3rem;

    /*Font Size*/
    --font-size-xsmall: 0.5rem;
    --font-size-small: 1rem;
    --font-size-medium: 1.5rem;
    --font-size-large: 2rem;
    --font-size-xlarge: 3rem;
    --font-size-2xlarge: 4rem;
}